PUBLIC_KLIPY_API_KEY=cokKxaa8oRusQNE9cjyt46Dp8sFkL8Jzu5ICp4MCcwkeSFSPb96ytPFvXtjA5c98
PUBLIC_PEXELS_KEY=DHdQxYl8jZlCvdmRIY1ATSFqJvGWLMy9tkp79qjauHO4av8lPK68Mr55
NUMVERIFY_API_KEY=94dd93a1bb495802a1608bfb5cc05e3e
PUBLIC_AI_API_KEY=AQ.Ab8RN6Ka9H1KuYP9pfvOmLLmSfLl2K_kZ9YHZD3dE65akId3Hw
PUBLIC_AI_MODEL=gemini-flash-latest
