---
import ToolLayout from '../layouts/ToolLayout.astro';
import ArchiveConvert from '../components/ArchiveConvert.astro';
---

<ToolLayout slug="eps-to-png">
  <ArchiveConvert slug="eps-to-png" from="eps" to="png" noun="EPS file" />

  <div slot="about" class="flex flex-col gap-4 text-[15px] leading-relaxed text-ink-subtle">
    <p>
      This free EPS to PNG converter converts Encapsulated PostScript EPS artwork to raster PNG images.
    </p>
    <p>
      Conversion is handled on our servers, because these
      formats can't be decoded in a browser. Your file is uploaded to our servers, converted, and returned as a download link.
    </p>
  </div>
</ToolLayout>
